.warning-container {
    z-index: 100;
    position: fixed;
    width: 50%;
    height: 50vh;
    top: 25vh;
    left: 25vw;
    background: darkred;
    color: white;
    border: 5px solid white;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    font-family: 'Courier New', Courier, monospace;
    padding: 2vw;
    border-radius: 12px;
    -webkit-box-shadow: 25px 25px 12px 2px rgba(0, 0, 0, 0.637);
    -moz-box-shadow:    25px 25px 12px 2px rgba(0, 0, 0, 0.637);
    box-shadow:         25px 25px 12px 2px rgba(0, 0, 0, 0.637);
}


h4, h4{
    font-weight: bold;
}

.disable-dedistract .warning-container {
    display: none;
}

#warning-message {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: darkred;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
#warning-message > div {
    display: block;
}
.disable-dedistract .warning-container {
    display: none;
}
